@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Abordage";
  src: url("/fonts/Abordage-Regular.woff2") format("woff2"),
    url("/fonts/Abordage-Regular.woff") format("woff"),
    url("/fonts/Abordage-Regular.ttf") format("truetype"),
    url("/fonts/Abordage-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  * {
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  html {
    font-family: "Abordage", -apple-system, BlinkMacSystemFont, system-ui,
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.wobble-hor-bottom {
  -webkit-animation: wobble-hor-bottom 0.8s both;
  animation: wobble-hor-bottom 0.8s both;
}

@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

@keyframes wobble-hor-bottom {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

.cursor-pointer {
  cursor: pointer;
}
.cursor-default {
  cursor: default;
}
.cursor-text {
  cursor: text;
}
.cursor-move {
  cursor: move;
}
.cursor-not-allowed {
  cursor: not-allowed;
}
.cursor-grab {
  cursor: grab;
}
.cursor-grabbing {
  cursor: grabbing;
}
.cursor-wait {
  cursor: wait;
}
.cursor-help {
  cursor: help;
}

:root {
  cursor: url("/cursor/cursor.png"), auto;
}
*:hover {
  cursor: url("/cursor/cursor.png"), pointer;
}

/* 클릭할 때 */
*:active {
  cursor: url("/cursor/cursor.png"), pointer;
}
