@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Abordage";
  src: url("/fonts/Abordage-Regular.woff2") format("woff2"),
    url("/fonts/Abordage-Regular.woff") format("woff"),
    url("/fonts/Abordage-Regular.ttf") format("truetype"),
    url("/fonts/Abordage-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  * {
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  html {
    font-family: "Abordage", -apple-system, BlinkMacSystemFont, system-ui,
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
